<%- include("./partials/head", {title: title}) %>
<%- include("./partials/nav") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4"> Книги</h1>

</div>
</div>

