<%- include("../partials/head", {title: title}) %>
<%- include("../partials/nav") %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <%if (message.length) {%>
        <div class="alert alert-danger"> <%=message%> </div>
        <%}%>

        <h1 class="display-4" style="text-align: center"> Регистрация</h1>
        <div class="form-floating" style="width: 100%;display: flex;justify-content: center;margin: 30px 0px;">

            <form method="post" action="/user/signup" style="width: 75%;padding: 30px 30px;border: 2px solid black;">

                <div class="mb-3">
                    <label for="firstName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="firstName" name="firstName">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="lastName">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label" >Email</label>
                    <input type="email" class="form-control"  id="email" name="email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label" >Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>

                </div>
                <p>Уже есть аккаунт? <a href="/user/login">Войти</a></p>

                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>

            </form>
        </div>
    </div>
</div>